@page "/resume"
@using CameronAnderson.Resume

@if (resume == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="1rem">
        <RadzenText TextStyle="TextStyle.H2" Class="rz-display-flex rz-align-items-center rz-m-0">
            @resume.Name
        </RadzenText>
        <RadzenText TextStyle="TextStyle.H4" Class="rz-display-flex rz-align-items-center rz-m-0">
            @resume.Location
        </RadzenText>
        <RadzenRow>
            @foreach (var link in resume.Links)
            {
                <RadzenBadge BadgeStyle="BadgeStyle.Light" Style="text-transform: none; padding: 2px 10px">
                    <RadzenLink Class="rz-mb-0" Path="@link.Url" Target="_blank">@(link.Text)</RadzenLink>
                </RadzenBadge>
            }
        </RadzenRow>
    </RadzenStack>

    <RadzenPanel AllowCollapse="true" Class="rz-my-10 rz-mx-auto" Style="max-width:750px;">
        <HeaderTemplate>
            <RadzenText TextStyle="TextStyle.H3" Class="rz-display-flex rz-align-items-center rz-m-0">
                <RadzenIcon Icon="work" class="rz-mr-2" Style="font-size: 1em;"/>Experience
            </RadzenText>
        </HeaderTemplate>
        <ChildContent>
            @foreach (var experience in resume.Experiences)
            {
                <RadzenCard class="rz-mt-4">
                    <RadzenRow>
                        <RadzenColumn Size="8" SizeXS="6" class="rz-text-wrap">
                            <RadzenText TextStyle="TextStyle.H4" Class="rz-mb-0">@(experience.Position)</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="4" SizeXS="6" class="rz-text-align-end">
                            <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text=@($"{experience.EmploymentDatesFormatted}") />
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenLink TextStyle="TextStyle.H6" Class="rz-mb-0" Path="@experience.Company.Url" Target="_blank">@($"{experience.Company.Name} — {experience.Company.Location}")</RadzenLink>
                    </RadzenRow>
                    <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                        <RadzenStack Gap="0">
                            @foreach (var note in experience.Notes)
                            {
                                <RadzenText TextStyle="TextStyle.Body1">@($"- {note}")</RadzenText>
                            }
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            }
        </ChildContent>
        <SummaryTemplate>
            <RadzenCard class="rz-mt-4">
                <RadzenRow>
                    <RadzenColumn Size="8" SizeXS="6" class="rz-text-wrap">
                        <RadzenText TextStyle="TextStyle.Subtitle1">@($"{latestExperience.Position} ({latestExperience.Company.Name})")</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="4" SizeXS="6" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text=@(latestExperience.EmploymentDatesFormatted) />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </SummaryTemplate>
    </RadzenPanel>

    <RadzenPanel AllowCollapse="true" Class="rz-my-10 rz-mx-auto" Style="max-width:750px;">
        <HeaderTemplate>
            <RadzenText TextStyle="TextStyle.H3" Class="rz-display-flex rz-align-items-center rz-m-0">
                <RadzenIcon Icon="school" class="rz-mr-2" Style="font-size: 1em;"/>Education
            </RadzenText>
        </HeaderTemplate>
        <ChildContent>
            @foreach (var education in resume.Education)
            {
                <RadzenCard class="rz-mt-4">
                    <RadzenRow>
                        <RadzenColumn Size="7" class="rz-text-wrap">
                            <RadzenText TextStyle="TextStyle.H4" Class="rz-mb-0">@($"{education.Degree} in {education.Major}")</RadzenText>
                        </RadzenColumn>
                        <RadzenColumn Size="5" class="rz-text-align-end">
                            <RadzenBadge BadgeStyle="BadgeStyle.Primary" Text=@($"{education.DateFormatted}") />
                        </RadzenColumn>
                    </RadzenRow>
                    <RadzenRow>
                        <RadzenLink TextStyle="TextStyle.H6" Class="rz-mb-0" Path="@education.Institution.Url" Target="_blank">@($"{education.Institution.Name}, {education.Institution.Location}")</RadzenLink>
                    </RadzenRow>
                    <hr style="border: none; background-color: var(--rz-text-disabled-color); height: 1px; margin: 1rem 0;" />
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                        <RadzenStack Gap="0">
                            <RadzenText TextStyle="TextStyle.Body1">@($"GPA: {education.Gpa:0.0}")</RadzenText>
                            @if (!string.IsNullOrWhiteSpace(education.Note))
                            {
                                <RadzenText TextStyle="TextStyle.Body1">@(education.Note)</RadzenText>
                            }
                        </RadzenStack>
                    </RadzenStack>
                </RadzenCard>
            }
        </ChildContent>
        <SummaryTemplate>
            <RadzenCard class="rz-mt-4">
                <RadzenRow>
                    <RadzenColumn Size="9" class="rz-text-wrap">
                        <RadzenText TextStyle="TextStyle.Subtitle1">@($"{latestEducation.Degree} in {latestEducation.Major} ({latestEducation.Institution.Name})")</RadzenText>
                    </RadzenColumn>
                    <RadzenColumn Size="3" class="rz-text-align-end">
                        <RadzenBadge BadgeStyle="BadgeStyle.Light" Text=@(latestEducation.DateFormatted) />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </SummaryTemplate>
    </RadzenPanel>
}

@code
{
    private CameronAnderson.Resume.Resume? resume { get; set; }
    private Experience latestExperience => resume?.Experiences.First()!;
    private Education latestEducation => resume?.Education.First()!;

    protected override async Task OnInitializedAsync()
    {
        resume = ResumeInteractor.GetResume();
    }
}
