@page "/resume"
@using CameronAnderson.Resume

<link href="css/resume.css" rel="stylesheet" />

@if (resume == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="heading">
		<div class="name">@resume.Name</div>
		<div class="location">@resume.Location</div>
		@foreach (var link in resume.Links)
		{
			<NavLink class="link" href="@link.Uri" target="_blank">
				@link.Text
			</NavLink>

			@if (!link.Equals(resume.Links.Last()))
			{
				<svg class="link-separator" height="30" width="30">
					<circle cx="15" cy="15" r="7" fill="black" />
				</svg>
			}
		}
	</div>

	<div class="section">
		@foreach (var experience in resume.Experiences)
		{
			<div class="experience">
				<div class="experience-heading">@experience.Position</div>
				<div class="experience-date">@experience.EmploymentStart.ToString("Y") &mdash; @(experience.EmploymentEnd == null ? "Present" : experience.EmploymentEnd.Value.ToString("Y"))</div>
				<NavLink class="experience-subheading" href="@experience.Company.Link" target="_blank">
					@experience.Company.Name &mdash; @experience.Company.Location
				</NavLink>

				<div class="notes">
					@foreach (var note in experience.Notes)
					{
						<div class="experience-note">- @note</div>
					}
				</div>
			</div>
		}
	</div>

	<div class="section">
		@foreach (var education in resume.Education)
		{
			<div class="experience">
				<div class="experience-heading">@education.Degree</div>
				<div class="experience-date">@education.Date.ToString("Y")</div>
				<div class="experience-subheading">@education.Major</div>
				<div class="experience-note">@education.Institution, @education.InstitutionLocation</div>
				<div class="experience-note">GPA:  @education.Gpa.ToString("0.0")</div>
				@if (!string.IsNullOrWhiteSpace(education.Minor))
				{
					<div class="experience-note">Minors:  @education.Minor</div>
				}
			</div>
		}
	</div>
}

@code
{
	private CameronAnderson.Resume.Resume resume { get; set; }

	protected override async Task OnInitializedAsync()
	{
		resume = ResumeInteractor.GetResume();
	}

}
